@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@font-face {
    font-family: "love";
    src: url(resources/fonts/lovehearts.ttf) format("truetype");
}

$m-font: 'Raleway', sans-serif;
$h-font: "love", serif;